{% extends "base.html" %}
{% block content %}
    <title>가격지도</title>
    <style>
        #indexpage{
            font-size:18px;
        }
        #logout{
            display: none; 
        }
        h1{
            margin: 7%;
            text-align: center;
        }
        #selectbox{
            margin-left: 15%;
            float: left;
        }
        #map{
            margin-right: 30%;
            float: right;
        }
        #locate{
            width: 110%;
            height: 7%;
            padding: 1%;
            font-size: 33px;
            margin: 10%;
        }
        #kinds{
            width: 110%;
            height: 7%;
            padding: 1%;
            font-size: 33px;
            margin: 10%;
        }
        #size{
            width: 110%;
            height: 7%;
            padding: 1%;
            font-size: 33px;
            margin: 10%;
        }
        #buttonbox{
            text-align: center;
        }
        #button{
            width:110%;
            border-radius: 18px;
            font-size: larger;
            padding : 1%;
            text-align: center;
            margin: 10%;
        }
    </style>
    <h1>평단가를 알려줘</h1>
    <div id = "selectbox">
        <form>
            <div>
                <select id="locate">
                    <option value="" disable selected hidden>지역</option>
                    <option> for문 1</option>
                    <option> for문 2</option>
                    <option> for문 3</option>
                </select>
            </div>
            <div>
                <select id ="kinds">
                <option value="" disable selected hidden>거래종류(매매)</option>
                <option> for문 1</option>
                <option> for문 2</option>
                <option> for문 3</option>
                </select>
            </div>
            <div>
                <select id = "size">
                    <option value="" disable selected hidden>평수</option>
                    <option> for문 1</option>
                    <option> for문 2</option>
                    <option> for문 3</option>
                </select>
            </div>
            <div id = "buttonbox">
                <button id ="button">지도에서 찾아보기!</button>
            </div>
        </form>
    </div>
</br></br></br></br>
    <div id = "map">
        <img id = "img" src = "/media/graph.jpg">
    </div>
{% endblock%}