{% extends "base.html" %}
{% load board_filter %}
{% block content %}
    <title>청약정보</title>
     <style>
        #indexpage{
            font-size:18px;
        }
        #logout{
            display: none;
        }
        #boardtitle{
            text-decoration: none;
        }
        #writing{
            float: right;
        }
        #link{
            text-decoration: none;
        }
      </style>
    <section class="ftco-section">
        <div id="sub_div_cotainer">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <!-- 텍스트 자리는 앞에 선택한것에 반응시키기 -->
                    <br><br>
                    <h1 class="heading-section">청약분양 한눈에 보기</h1>
                    <a href="{% url 'main:sub_search' %}">사이트연결체크</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>청약명</th>
                                        <th>공급위치
                                        <th>특별공급일</th>
                                        <th>2순위공급일</th>
                                        <th>타입1 평형</th>
                                        <th>타입2 평형</th>
                                        <th>타입1 금액</th>
                                        <th>타입2 금액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if subscription_board %}
                                    {% for subscription in subscription_board %}
                                    <tr>
                                        <td>
                                            <p>{{subscription.title}}&nbsp;&nbsp;</p>
                                        </td>
                                        <td>
                                            <p>{{subscription.location|truncatechars:12}}<sup class="fortooltip">[세부위치]<span class="detailed_location">{{subscription.location}}</span></sup></p>
                                        </td>
                                        <td>
                                            <p>{{subscription.date_start| date:'Y-m-d'}}&nbsp;&nbsp;</p>
                                        </td>
                                        <td>
                                            <p>{{subscription.date_finish| date:'Y-m-d'}}&nbsp;&nbsp;</p>
                                        <td>
                                            <p>{{subscription.size_one}}㎡&nbsp;&nbsp;</p>
                                        </td>
                                        <td>
                                            <p>{{subscription.size_two}}㎡&nbsp;&nbsp;</p>
                                        <td>
                                            <p>{{subscription.price_one}}만원&nbsp;&nbsp;</p>
                                        </td>
                                        <td>
                                            <p>{{subscription.price_two}}만원&nbsp;&nbsp;</p>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        <!-- 페이징 처리 -->
                      <div>
                        <ul class="pagination justify-content-center">
                            <!-- 이전 페이지 -->
                            {% if subscription_board.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ subscription_board.previous_page_number }}">이전</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                              <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                          </li>
                            {% endif %}
                            <!-- 페이지리스트 -->
                            {% for page_number in subscription_board.paginator.page_range %}
                            {% if page_number >= subscription_board.number|add:-5 and page_number <= subscription_board.number|add:5 %}
                            {% if page_number == subscription_board.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                           </li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if subscription_board.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ subscription_board.next_page_number }}">다음</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- 페이징처리 끝 -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 자바스크립트 공간 -->
{% endblock%}