{% extends 'base.html' %}
{% block content %}
<!-- 답변 수정-->
<!-- 댓글 작성하기 -->
<form method="post">
    {% csrf_token %}
    <!-- 오류표시 시작 -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form %}
        {% if field.errors %}
        <div>
            <strong>{{ field.textarea }}</strong>
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <!-- 오류표시 끝 -->
   <div id = "writecommentbox">
        <textarea id="commentwrite" rows="3" name="content" id="content" placeholder="댓글을 입력해주세요"
        value="{{ form.content.value|default_if_none:'' }}" >{{ answer2.content}}</textarea>
   </div>
    <div id="commenton">
        <button  type="button" class="btn btn-outline-secondary" style="padding:0.5%; width:150px; font-size:18px;" onclick="location.href='{% url 'board:long_result' question2_id=answer2.question.id %}' " >수정 취소</button>
        <input id = "submitcomment" type="submit" class="btn btn-outline-secondary" style="padding:0.5%; width:150px; font-size:18px;" value="저장하기"/>
    </div>
</form>
{% endblock %}

<!-- 작동은 하는데 댓글 수정이 안됩니다. 이부분은 기능구현 부탁드립니다. -->