/* signup */
#signupbox{
    width: 50%;
    margin: 7% auto 0;
    padding: 2%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.item>input{
    width: 100%;
    height: 100%;
    padding: 1%;
}
#idcheck{
    height: 100%;
    margin-left: 5%;
    padding: 3% 7%;    
}
#idcheck:hover{
    background: white;
    color: black;
}
#namecheck{
    height: 100%;
    margin-left: 5%;
    padding: 3% 7%;    
}
#namecheck:hover{
    background: white;
    color: black;
}
#submit{
    width: 100%;
    height: 135%;    
}
#submit:hover{
    color: black;
    background: white;
}

/* login */
#loginbody{
    text-align: center;
    margin: auto;
}
#loginform{
    width: 100%;
    text-align: center;
    list-style: none;
}
#loginbox{
    background: white;
    color: black;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 15px;
    text-align: left;
}
#loginbox>#box{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 5%;
    text-align: center;
    list-style: none;
}
#passwordbox{
    margin-right: 6%;
}

/* index */

#one{
    width: 30%;
    height: 15%;
    margin : 5%;
    margin-left : 15%;
    float : left;
}
#two{
    width: 30%;
    height: 15%;
    margin: 5%;
    margin-right: 15%;
    float:right;
}
#img1{
    margin-bottom: 3%;
}
#img2{
    margin-bottom: 3%;
}
#center{
    display: inline-block;
    width: 100%;
    margin-bottom: 3%;
    text-align: center;
}
#maintext3{
    width: 100%;
    text-align: center;
}
#viewbutton{
    position: absolute;
    width:30%;
    float: right;
}

#quick_table{
    width: 50%;
    margin: auto;
    margin-top: 1%;
    text-align: center;
}
#three{
    width: 95%;
    margin : 3%;
    margin-bottom: 7%;
    text-align: center;
}
#tradebutton{
    position: absolute;
    width:30%;
    float: right;
}
#four{
    width:95%;
    margin : 3%;
    text-align: center;

}
#longmonthbutton{
    position: absolute;
    width:30%;
    float: right;
}

/* variable_predict */
#selectbox{
    margin-top: 5%;
    text-align: center;
}
#buttonbox{
    text-align: center;
}

/* variable_result */
#predict{
    margin-bottom: 5%;
}
#graph{
    width: 30%;
    margin-left: 20%;
    float: left;
}
#text{
    width: 40%;
    margin-right: 10%;
    float: right;
}
#predict_per{
    margin-top: 3%;
    margin-bottom: 7%;
}

/* longmonth & trade_board */
.pagination{
    justify-content: center;
}
#writeboardtitle{
    margin:5%;
}
#userid{
    margin-left: 4%;
}
#writedate{
    margin-left: 4%;
}
/* longmonth & trade_boardwriting */
#titlearea{
    text-align: center;
}
#areatitle{
    resize: none;
    margin-top: 1%;
    margin-bottom: 1%;
}
#textarea{
    text-align: center;
    margin-bottom: 1%;
}
#areatext{
    resize: none;
    margin-bottom: 1%;
}
