    {% extends "base.html" %}
    {% load board_filter %} <!-- 게시글 불러오기 위해 보드앱에 만들어 놓은 템플릿테그 폴더 안에 board_filter 를 로드-->
    {% block content %}
    <title>joomo</title>
<div id="demo" class="carousel slide" data-bs-ride="carousel" style="width:50%; margin:0 auto;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="inner_text">가격변동 확인하기 <p class="inner_text_sub">주택가격이 오를지 확인해보세요</p></div>
        <a href="{% url 'main:variable_pd' %}"><img src="/media/12345.png"class="d-block w-100" style="height:300px;"></a>
      </div>
      <div class="carousel-item">
        <div class="inner_text">가격지도 확인하기 <p class="inner_text_sub">지도에서 평단가를 확인해보세요</p> </div>
        <a href="{% url 'main:avg' %}"><img src = "/media/12345678.png" class="d-block w-100" style="height:300px;"></a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
        <div id='board-list'>
            <div id = "news"><p id="newstitle"><a href="{% url 'board:board_news' %}">부동산 뉴스</a></p>
                           <table class="table">
                                <thead>
                                    <tr>
                                    <th>뉴스제목</th>
                                    <th>작성일</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{ value|truncatechars:7 }}
                                <!--게시글 불러오기 시작-->
                                {% if board_news %}
                                {% for board_news in board_news %}
                                    <tr>
                                        <td>
                                            <!-- board_filter 로드해야 작동됨-->
                                    <a href="{{board_news.href}}" style="color:black" target="_blank">{{ board_news.title|truncatechars:40 }}</a>
                                        </td>
                                        <td>
                                         {{ board_news.datecreated}}
                                        </td>
                                        {% endfor %}
                                        {% endif %}
                                    </tr>
                                <!-- 게시글 불러오기 끝-->
                                </tbody>
                            </table>
                <div>
                <!-- 페이징처리 시작 -->
                <ul class="pagination pagination-sm justify-content-center">
                    <!-- 이전페이지 -->
                    {% if board_news.has_previous %}
                    <li class="page-item">
                     <a class="page-link" href="?page1=1"><<</a>
                    <li class="page-item">
                        <a class="page-link" href="?page1={{ board_news.previous_page_number }}">이전</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                    {% endif %}
                    <!-- 페이지리스트 -->
                    {% for page_number in board_news.paginator.page_range %}
                    {% if page_number >= board_news.number|add:-3 and page_number <= board_news.number|add:3 %}
                    {% if page_number == board_news.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page1={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page1={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    <!-- 다음페이지 -->
                    {% if board_news.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page1={{ board_news.next_page_number }}">다음</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page1={{ board_news.paginator.num_pages }}">>></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- 페이징처리 끝 -->
                </div>
            </div>
                    <!-- 최신 부동산 뉴스 불러오기 끝 -->
            </br></br>

            <div id = "three">
                <p id = "maintext4">
                    <a href="{% url 'board:trade' %}">개인거래 게시판</a>
                    <button id = "indexwritebutton" class="btn btn-primary"  onclick="location.href='{% url 'board:trade_writi'%}' ">새글쓰기</button>
                </p>
                <div class="table-wrap">
                  <table class="table">
                      <thead>
                        <tr>
                          <th>제목</th>
                          <th class="col-2">작성일</th>
                          <th class="col-2">조회수</th>
                        </tr>
                      </thead>
                        <tbody>
                            {% if trade_board %}
                            {% for question in trade_board %}
                            
                            <tr>
                                <td><a href="{% url 'board:trade_result' question.id %}">{{ question.subject }} [{{ question.answer_set.count }}]</a></td>
                                {% if question.question_created_string == False %}
                                <td>{{ question.create_date | date:"m-d"}}</td>
                                {% else %}
                                <td>{{ question.question_created_string }}</td>
                                {% endif %}
                                <td>{{ question.hit | default_if_none:"0"}}</td>
                            {% endfor %}
                            {% endif %}
                            </tr>
                        </tbody>
                  </table>
                </div>
                <div>
                     <ul class="pagination pagination-sm justify-content-center">
                         <!-- 이전 페이지 -->
                        {% if trade_board.has_previous %}
                        <li class="page-item">
                           <a class="page-link" href="?page2=1"><<</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page2={{ trade_board.previous_page_number }}">이전</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                        </li>
                        {% endif %}
                        <!-- 페이지리스트 -->
                        {% for page_number in trade_board.paginator.page_range %}
                        {% if page_number >= trade_board.number|add:-3 and page_number <= trade_board.number|add:3 %}
                        {% if page_number == trade_board.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page2={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page2={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                         <!-- 다음 페이지 -->
                        {% if trade_board.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page2={{ trade_board.next_page_number }}">다음</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page2={{ trade_board.paginator.num_pages }}">>></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
                  <!-- 최신 거인거래 게시글 제목 불러오기 끝-->
            </br></br>

            <div id = "four">
                <p id = "maintext5">
                     <a href="{% url 'board:long_board' %}">전월세 물건지 리뷰</a>
                    <button id = "indexwritebutton" class="btn btn-primary" onclick="location.href='{% url 'board:long_writi' %}' ">새글쓰기</button>
                </p>
                <div class="table-wrap">
                <table class="table">
                    <thead>
                      <tr>
                        <th>제목</th>
                        <th class="col-2">작성일</th>
                        <th class="col-2">조회수</th>
                      </tr>
                    </thead>
                      <tobody>
                          {% if longmonth_board %}
                          {% for question2 in longmonth_board %}
                          <tr>
                              <td><a href="{% url 'board:long_result' question2.id %}">{{ question2.subject }} [{{ question2.answer2_set.count }}]</a></td>
                              {% if question2.question2_created_string == False %}
                              <td>{{ question2.create_date | date:"m-d"}}</td>
                              {% else %}
                              <td>{{ question2.question2_created_string }}</td>
                              {% endif %}
                              <td>{{ question2.hit | default_if_none:"0"}}</td>
                          {% endfor %}
                          {% endif %}
                          </tr>
                      </tobody>
                </table>
                </div>
                <div>
                      <ul class="pagination pagination-sm justify-content-center">
                         <!-- 이전 페이지 -->
                         {% if longmonth_board.has_previous %}
                         <li class="page-item">
                             <a class="page-link" href="?page3=1"><<</a>
                         </li>
                         <li class="page-item">
                             <a class="page-link" href="?page3={{ longmonth_board.previous_page_number }}">이전</a>
                         </li>
                         {% else %}
                         <li class="page-item disabled">
                             <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                         </li>
                         {% endif %}
                          <!-- 페이지리스트 -->
                        {% for page_number in longmonth_board.paginator.page_range %}
                        {% if page_number >= longmonth_board.number|add:-3 and page_number <= longmonth_board.number|add:3 %}
                        {% if page_number == longmonth_board.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page3={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page3={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                          <!-- 다음 페이지 -->
                         {% if longmonth_board.has_next %}
                         <li class="page-item">
                             <a class="page-link" href="?page3={{ longmonth_board.next_page_number }}">다음</a>
                         </li>
                         <li class="page-item">
                             <a class="page-link" href="?page3={{ longmonth_board.paginator.num_pages }}">>></a>
                         </li>
                         {% else %}
                         <li class="page-item disabled">
                             <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                         </li>
                         {% endif %}
                      </ul>
                 </div>
            </div>
                  <!-- 최신 거인거래 게시글 제목 불러오기 끝-->
            </br></br>

            <div id = "center">
                <div id = "quick_view">
                  <p id = "maintext3">
                     <a href="{% url 'main:joomo' %}">청약분양 한 눈에 보기</a>
                  </p>
                  <table id = "quick_table">
                    <thead>
                      <tr>
                        <th class="d2" style="width:40%;"><p>청약명</p></th>
                        <th class="d2"style="width:20%;"><p>청약일</p></th>
                        <th class="d2"style="width:20%;"><p>평형</p></th>
                        <th class="d2"style="width:20%;"><p>금액</p></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if subscription_board %}
                      {% for subscription in subscription_board %}
                      <tr>
                        <td class="d1" style="width:40%;">

                          <p>{{subscription.title}}&nbsp;&nbsp;</p>
                        </td>
                        <td class="d1" style="width:20%;">
                          <p>{{subscription.date_start| date:'Y-m-d'}}&nbsp;&nbsp;</p>
                        </td>
                        <td class="d1" style="width:20%;">
                          <p>{{subscription.size_one}}㎡&nbsp;&nbsp;</p>
                        </td>
                        <td class="d1" style="width:20%;">
                          <p>{{subscription.price_one}}만원&nbsp;&nbsp;</p>
                        </td>

                        </td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                  <!-- 페이징 처리 -->
                <div>
                    <ul class="pagination pagination-sm justify-content-center">
                        <!-- 이전 페이지 -->
                        {% if subscription_board.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page4=1"><<</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page4={{ subscription_board.previous_page_number }}">이전</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                      </li>
                        {% endif %}
                        <!-- 페이지리스트 -->
                        {% for page_number in subscription_board.paginator.page_range %}
                        {% if page_number >= subscription_board.number|add:-3 and page_number <= subscription_board.number|add:3 %}
                        {% if page_number == subscription_board.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page4={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page4={{ page_number }}">{{ page_number }}</a>
                       </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <!-- 다음페이지 -->
                        {% if subscription_board.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page4={{ subscription_board.next_page_number }}">다음</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page4={{ subscription_board.paginator.num_pages }}">>></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- 페이징처리 끝 -->
            </div>
        </div>
    </div>
    {% endblock %}