{% extends "base.html" %}
{% load board_filter %} <!-- 게시글 불러오기 위해 보드앱에 만들어 놓은 템플릿테그 폴더 안에 board_filter 를 로드-->
{% block content %}

    <title>부동산 뉴스</title>
<style>
 a:hover { text-decoration: underline;}
</style>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <!-- 텍스트 자리는 앞에 선택한것에 반응시키기 -->
                    <h1>부동산 뉴스</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th>뉴스제목</th>
                                    <th>작성일</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <!--게시글 불러오기 시작-->
                                {% if board_news %}
                                {% for board_news in board_news %}
                                    <tr>
                                        <td>
                                            <!-- board_filter 로드해야 작동됨-->
                                    <a href="{{board_news.href}}" style="color:black" target="_blank">{{ board_news.title }}</a>
                                        </td>
                                        <td>
                                         {{ board_news.datecreated}}
                                        </td>
                                        {% endfor %}
                                        {% endif %}
                                    </tr>
                                <!-- 게시글 불러오기 끝-->
                                </tbody>
                            </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if board_news.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ board_news.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in board_news.paginator.page_range %}
        {% if page_number == board_news.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if board_news.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ board_news.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}