{% extends "base.html" %}
{% block content %}
<title>개인거래 게시판 리뷰작성</title>
<style>
    #imgfile {
        width: 30%;
        margin: 0 auto;
    }
</style>
    <article id = "writewrap">
        <form method="post" id="titleandtext" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- 오류 표시 시작-->
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                {% if field.errors %}
                <div>
                    <strong>{{ field.textarea }}</strong>
                    {{ field.errors }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- 오류 표시  끝-->

        <div id="titlearea">
                <textarea id="areatitle" cols="130" rows="1" name="subject" id="subject" placeholder="제목을 입력해주세요"
                value="{{ form.subject.value|default_if_none:'' }}" ></textarea>
        </div>
        <div id="textarea">
                <textarea id="areatext" cols="130" rows="20" name="content" id="content" placeholder="글내용을 입력해주세요">

주소▶
업종▶
층수▶
면적▶
보증금▶
임대료▶
권리금▶
총금액▶
이름▶
직원수▶
연락처▶

내용▶
                </textarea>
                <br>
                <label for="imgfile">첨부파일 : </label>
                <input type="file" class="form-control" name="imgfile" id="imgfile">
                <br>
                <button id="goback" type="button" class="btn btn-outline-secondary" style="padding:0.5%; width:150px; font-size:18px;" onclick="location.href='{% url 'board:trade' %}' " >글작성 취소</button>
                <input id ="writing" type= "submit"  class="btn btn-outline-secondary" style="padding:0.5%; width:150px; font-size:18px;" name="" value='글쓰기'/>
             </div>
        </form>
    </article>
{% endblock %}